<%- include("./partials/header.ejs") %>


  <h1>Welcome to SimpleBlog</h1>
  <p>Your go-to platform for sharing thoughts and ideas.</p>
  <div class="blog-list">
    History of the blog will be displayed here.
  </div>

  <%- include("./partials/footer.ejs") %>